<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-275">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/dis-logo-white.svg" alt="Disaster Intervention Specialists Logo" width="240" height="32">
            </a>
            <p class="cs-text">
                Disaster Intervention Specialists, LLC provides 24/7 residential disaster intervention services throughout the Portland, OR metro, with rapid response, careful contents protection, and clear coordination from stabilization to final pack-back.
            </p>
            <div class="cs-social">
                <a class="cs-social-link" aria-label="visit facebook profile" href="{{ client.socials.facebook }}" target="_blank" rel="noopener">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/facebook.svg" alt="facebook" width="6" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit instagram profile" href="{{ client.socials.instagram }}" target="_blank" rel="noopener">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
                </a>
            </div>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/services/">Services</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about-us/">About Us</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact-us/">Contact Us</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-contact">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="tel:{{ client.phoneForTel }}">{{ client.phoneFormatted }}</a>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="mailto:{{ client.email }}">{{ client.email }}</a>
            </li>
        </ul>
    </div>
</footer>