<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="Disaster Intervention Specialists Home page">
            <img src="/assets/svgs/dis-logo.svg" alt="Disaster Intervention Specialists Logo" width="210" height="29" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" aria-label="main navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" id="cs-toggle" aria-expanded="false" aria-controls="cs-ul-wrapper" aria-label="mobile menu toggle" aria-haspopup="menu">
                <span class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </span>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper" id="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == "/" %} cs-active {% endif %}" {% if page.url == "/" %} aria-current="page" {% endif %}>
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/services/" class="cs-li-link {% if page.url == "/services/" %} cs-active {% endif %}" {% if page.url == "/services/" %} aria-current="page" {% endif %}>
                            Services
                        </a>
                    </li>

                    <li class="cs-li">
                        <a href="/about/" class="cs-li-link {% if page.url == "/about-us/" %} cs-active {% endif %}" {% if page.url == "/about-us/" %} aria-current="page" {% endif %}>
                            About Us
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/contact/" class="cs-li-link {% if page.url == "/contact-us/" %} cs-active {% endif %}" {% if page.url == "/contact-us/" %} aria-current="page" {% endif %}>
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="cs-phone-container">
            <img src="/assets/images/24-7 icon.webp" alt="Call Us 24/7" width="41" height="18" decoding="async">
            <a href="tel:5037300012" class="cs-phone">(503) 730-0012</a>
        </div>
    </div>
</header>