---
title: "About | Disaster Intervention Specialists"
description: "About us page for Disaster Intervention Specialists"
permalink: "/about/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="{% getUrl "/assets/images/interior-pages-hero.jpeg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/interior-pages-hero.jpeg" | resize({ width: 576, height: 640 }) | avif %}"/>
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
                <h1><span class="cs-int-title">About Us</span></h1>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/about/" class="cs-link cs-active">About Us</a>
            </div>
        </div>
        <!--Background Image-->

        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/interior-pages-hero.jpeg" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/interior-pages-hero.jpeg" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/interior-pages-hero.jpeg" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/interior-pages-hero.jpeg" | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/interior-pages-hero.jpeg" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/interior-pages-hero.jpeg" | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/interior-pages-hero.jpeg" | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/interior-pages-hero.jpeg" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/interior-pages-hero.jpeg" | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/interior-pages-hero.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="" width="1920" height="482" loading="eager" decoding="async">
        </picture>
    </div>

<!-- ============================================ -->
<!--                  About Us                     -->
<!-- ============================================ -->

<section id="about-1451">
    <div class="cs-container">
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/anna-jones.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/anna-jones.webp">
                <img loading="lazy" decoding="async" src="/assets/images/anna-jones.webp" alt="Anna Jones" width="522" height="696">
            </picture>
            <div class="cs-content">
                <h2><span class="cs-header">Anna Jones</span></h2>
                <p class="cs-text">
                    Anna is a disaster relief and pack out specialist dedicated to helping families and property
                    owners recover after unexpected loss. With a calm, organized approach and a deep knowledge
                    of inventory management, content handling, and restoration processes, Anna ensures every
                    item is treated with care and every client feels supported. She is known for her compassion,
                    attention to detail, and ability to bring order to chaos—guiding clients through some of their
                    most difficult moments with professionalism and empathy.
                </p>
                <p class="cs-text">
                    Anna's life away from work keeps her very busy as she enjoys spending time with her family. She
                    also loves to travel, go wine tasting and soak up the sunshine and beauty of the outdoors. Being
                    from the south, she enjoys cooking and hosts family dinners on Sunday evenings so that her
                    children and grandchildren can have focused family time with her each week.
                </p>
            </div>
        </div>
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/jason-cockreham.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/jason-cockreham.webp">
                <img loading="lazy" decoding="async" src="/assets/images/jason-cockreham.webp" alt="Jason Cockreham" width="522" height="696">
            </picture>
            <div class="cs-content">
                <h2><span class="cs-header">Jason Cockreham</span></h2>
                <p class="cs-text">
                    As a Disaster Intervention Specialist, Jason Cockreham is on the front lines of helping families
                    and businesses regain stability after unexpected events. His steady presence, industry
                    knowledge, and client-first approach ensure every situation is handled with urgency, integrity,
                    and respect. Jason believes in restoring not just property—but peace of mind.
                </p>
                <p class="cs-text">
                    Jason's family is his passion. He married his beautiful wife Kelly in 1992, and together they have
                    three children and four grandchildren. If he isn't at work he is always doing something with his
                    family. He loves spending time with the kids but also loves to hook up his trailer and sneak away
                    with his wife, traveling the northwest.
                </p>
            </div>
        </div>
    </div>
</section>
                                
    {% include 'sections/cta.html' %}

{% endblock %}