/*-- -------------------------- -->
<---          About             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about-1451 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at large desktop */
            max-width: (944/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 100px */
            gap: clamp(3rem, 6vw, 6.25rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            width: 100%;
            /* padding left and right added on tablet */
            padding: 0 0 (64/16rem) 0;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            position: relative;
            z-index: 1;
        }

        .cs-info {
            width: 100%;
            /* 16px - 48px */
            padding: 0 clamp(1rem, 5vw, 3rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
            z-index: 1;

            &:before {
                /* grey background, moves to the cs-content at tablet */
                content: '';
                width: 100%;
                height: 85%;
                background: #F7F7F7;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-header {
            font-size: var(--headerFontSize);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 900;
            /* 12px - 24px */
            margin: 0 0 clamp(.75rem, 1.5vw, 1.5rem);
            color: var(--headerColor);
            display: block;
        }
    
        .cs-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            max-width: (700/16rem);
        }

        .cs-text {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (0/16rem);
            }
        }

        .cs-picture {
            /* width and height changes at tablet */
            width: 85%;
            max-width: (350/16rem);
            height: (330/16rem);
            display: block;
            position: relative;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* positions the top of the image to line up wiht the top of the parent */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-floater {
            /* 100px - 192px */
            width: clamp(6.25rem, 15vw, 12rem);
            height: auto;
            display: none;
            position: absolute;
            right: (50/16rem);
            top: (-75/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #about-1451 {
        .cs-info {
            flex-direction: row;
            padding: 0;

            &:nth-of-type(even) {
                .cs-content {
                    padding-left: (36/16rem);
                    padding-right: (20/16rem);
                    &:before {
                        left: 0;
                        right: auto;
                    }
                }

                .cs-picture {
                    /* sends it to the right in the 2nd position */
                    order: 2;
                }
            }

            &:before {
                display: none;
            }
        }

        .cs-content {
            /* 40px - 148px */
            margin-top: clamp(2.5rem, 7vw, 7.8125rem);
            /* 32px - 148px */
            padding: clamp(2rem, 10vw, 9.375rem) (36/16rem) (64/16rem) (20/16rem);

            &:before {
                /* grey background */
                content: '';
                width: 120%;
                height: 100%;
                background: #F7F7F7;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                right: 0;
                z-index: -1;
            }
        }

        .cs-picture {
            /* width and height changes again on larger desktop */
            width: 38%;
            max-width: (260/16rem);
            /* 260px - 348px */
            height: clamp(16.25rem, 36vw, 21.75rem);
        }

        .cs-floater {
            display: block;
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #about-1451 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-info {
            align-items: stretch;
        }

        .cs-picture {
            height: auto;
            min-height: (696/16rem);
            width: (522/16rem);
            max-width: (522/16rem);
            margin-bottom: (64/16rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

/* Larger Desktop 1600px */
@media only screen and (min-width: 100rem) {
    #about-1451 {
        .cs-info {
            &:nth-of-type(even) {
                .cs-picture {
                    margin-left: 0;
                }
            }
        }

        .cs-picture {
            margin-left: (-88/16rem);
        }
    }
}
                                