// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-579 {
        padding-top: calc(654 / 16 * 1rem) !important;
        position: relative;
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
            padding: var(--sectionPadding);
            padding-top: 0;
            padding-bottom: 0;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: fit-content;
            max-width: (494/16rem);
            height: (300/16rem);

            img {
                position: relative;
                height: 100%;
                width: 100%;
                object-fit: contain;
            }

            &::after {
                content: "";
                position: absolute;
                top: 3%;
                left: 15%;
                background: var(--secondary);
                opacity: 0.8;
                border-radius: 50%;
                height: 100px;
                width: 100px;
                box-shadow: 0 0 0 0 rgba(28, 56, 88, 1);
                transform: scale(1);
                animation: pulse 3s infinite;
                z-index: 2;
            }

            @keyframes pulse {
                0% {
                    transform: scale(0.85);
                    box-shadow: 0 0 0 0 rgba(28, 56, 88, 0.7);
                }
            
                70% {
                    transform: scale(1);
                    box-shadow: 0 0 0 10px rgba(28, 56, 88, 0);
                }
            
                100% {
                    transform: scale(0.85);
                    box-shadow: 0 0 0 0 rgba(28, 56, 88, 0);
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("/assets/svgs/cityscape-bg.svg");
            background-size: cover;
            opacity: 0.04; /* Adjust transparency */
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-579 {
        padding: var(--sectionPadding);
        padding-top: calc(230 / 16 * 1rem) !important;

        .cs-container {
            flex-direction: row;
            justify-content: flex-end;
            /* 60px - 128px */
            gap: clamp(3.75rem, 10vw, 8rem);
        }

        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }

        .cs-picture {
            /* 518px - 700px */
            /*height: clamp(32.375rem, 63vw, 43.75rem);*/
            /* 16px - 28px, added margin left and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
            margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
            position: relative;
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-306 {
        background-color: rgba(28, 56, 88, 0.04);
        /* prevents overflow from overlapping quote icon */
        overflow: hidden;
        position: relative;

        .cs-image {
            width: 100%;
            max-height: (450/16rem);
            display: block;
            position: relative;
            aspect-ratio: 360/380;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-content {
            max-width: (630/16rem);
            padding: var(--sectionPadding);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
        }

        .cs-review {
            /* 25px - 32px */
            font-size: clamp(1.5625rem, 3.9vw, 2rem);
            text-align: left;
            margin: 0;
            /* 28px - 40px */
            margin-bottom: clamp(1.75rem, 3vw, 2.5rem);
            color: var(--bodyTextColor);
        }

        .cs-quote {
            width: (40/16rem);
            height: auto;
            margin-bottom: (32/16rem);
            display: block;
        }

        .cs-info {
            display: flex;
            justify-content: auto;
            align-items: center;
            margin-bottom: clamp(1.75rem, 4vw, 2.5rem);
        }

        .cs-flex {
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-basis: content;
        }

        .cs-profile {
            width: (50/16rem);
            height: auto;
            margin-right: (12/16rem);
            border-radius: 50%;
            display: block;
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--headerColor);
            display: block;
            flex-basis: content;
        }

        .cs-job {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            width: (200/16rem);
            color: var(--bodyTextColor);
            display: block;
            flex-basis: content;
        }

        .cs-watermark {
            /* 87px - 136px */
            width: clamp(5.4375rem, 12.2vw, 8.5rem);
            height: auto;
            opacity: 0.09;
            position: absolute;
            bottom: 0;
            right: (20/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-306 {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;

        .cs-image {
            width: 44%;
            height: auto;
            max-height: 100%;
            /* prevent flexbox from squishing it */
            flex: none;
            aspect-ratio: initial;
        }

        .cs-content {
            /* 76px - 128px */
            padding-left: clamp(4.75rem, 10vw, 8rem);
            padding-right: (32/16rem);
        }

    }
}

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-860 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }


        .cs-card-group {
            width: 100%;
            max-width: (350/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            &:hover {
                .cs-picture {
                    &:before,
                    &:after {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }

                .cs-info {
                    background-color: var(--secondary);
                }

                .cs-name,
                .cs-job {
                    color: var(--bodyTextColorWhite);
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            margin: 0 0 (8/16rem) 0;
            /* removed at tablet */
            aspect-ratio: 328/407;
            border-radius: (16/16rem);
            /* clips the img corners */
            overflow: hidden;
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-info {
            width: 100%;
            padding: (16/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #f7f7f7;
            border-radius: (12/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: background-color 0.3s;
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (4/16rem) 0;
            color: var(--headerColor);
            display: block;
            transition: color 0.3s;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin-right: 0;
            color: var(--bodyTextColor);
            display: block;
            transition: color 0.3s;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #meet-team-860 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .cs-item {
            width: 100%;
        }

        .cs-picture {
            height: (407/16rem);
            /* remove the aspect ratio so the height can be squished */
            aspect-ratio: initial;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
    #meet-team-860 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            width: 55%;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-card-group {
            justify-content: center;
            flex-wrap: nowrap;
            max-width: (630/16rem);
        }

        .cs-item {
            width: 100%;
        }
    }
}

